<div class="row">
    <h1 class="text-center text-light" style="margin-top: 50px;">Login Page</h1>
    <div class="col-4"></div>
    <div class="col-4 " style="margin-bottom: 200px;">
        <form (ngSubmit)="login()" [formGroup]="loginForm" class="m-5 p-3">


            <div class="mb-4">
                <label for="">Account Number</label>
                <input type="text" name="acno" formControlName="acno" class="form-control" placeholder="Account Number">
            </div>
            <div *ngIf="this.loginForm.get('acno')?.touched&&this.loginForm.get('acno')?.errors" style="color: red;">
                Invalid Account Number
            </div>


            <div class="mb-4">
                <label for="">Password</label>
                <input type="password" name="pswd" formControlName="pswd" class="form-control" placeholder="password">
            </div>
            <div *ngIf="this.loginForm.get('pswd')?.touched&&this.loginForm.get('pswd')?.errors" style="color: red;">
                Invalid Password
            </div>
            <div class="mb-4">
                <button type="submit" class="btn btn-primary">Login</button>
                <span style="float: right;">New user?Click to <a routerLink="register">Register</a></span>
            </div>


        </form>
    </div>
    <div class="col-4"></div>

</div>